<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Information</title>
    <style>
        table, 
        th, 
        td 
        {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>acc_no</th>
            <th>acc_type</th>
            <th>cust_id</th>
            <th>acc_status</th>
            <th>acc_activation_date</th>
            <th>total_bal</th>
            
        </tr>
        <% for(user of users) { %>
            <tr>
                <td><%= user.acc_no %></td>
                <td><%= user.acc_type %></td>
                <td><%= user.cust_id %></td>
                <td><%= user.acc_status %></td>
                <td><%= user.acc_activation_date %></td>
                <td><%= user.total_bal %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>

