<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Information</title>
    <style>
        table, 
        th, 
        td 
        {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>rel_manager_id</th>
            <th>rel_manager_name</th>
            <th>bank_branch</th>
            <th>pin_code</th>
            <th>email_id</th>
            <th>phone_no</th>

        </tr>
        <% for(user of users) { %>
            <tr>
                <td><%= user.rel_manager_id %></td>
                <td><%= user.rel_manager_name %></td>
                <td><%= user.bank_branch %></td>
                <td><%= user.pin_code %></td>
                <td><%= user.email_id%></td>
                <td><%= user.phone_no %></td>
            </tr>

            <td>
                <form method="GET" action="/user/<%=user.id%>/edit">
                    <button>Edit username</button>
                </form>
                </td>

                <td>
                    <form method="GET" action="/user/<%=user.id%>/delete">
                        <button>Delete username</button>
                    </form>
                    </td>

                    <td>
                        <form method="GET" action="/user/<%=user.id%>/add">
                            <button>Add new username</button>
                        </form>
                        </td>   
                                                       

        <% } %>
    </table>
</body>
</html>

